:root {
	--mainColor: #d5e1df;
	--secondaryColor: darkseagreen;

	--borderColor: #3e4444;

	--mainText: black;
	--secondaryText: seagreen;

	--themeDotBorder: black;

	--previewBg: rgba(255, 248, 220, .5);
	--previewShadow: rgba(255, 239, 213, 0.5);

	--buttonColor: black;
}

html, body {
	padding: 0;
	margin: 0;
}

body * {
	transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea, a {
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
} 

a {
	text-decoration: none;
	color: deepskyblue;
}

a:hover {
	font-weight: bold;
}

ul {
	list-style: none;
}

h1 { font-size: 56px }
h2 { font-size: 36px }
h3 { font-size: 28px }
h4 { font-size: 24px }
h5 { font-size: 20px }
h6 { font-size: 16px }

.s1 {
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.main-container {
	width: 60vw;
	margin: 0 auto;
}

.greeting-wrapper {
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;

}

.intro-wrapper {
	background-color: var(--mainColor);
	border: 1px solid var(--borderColor);
	border-radius: 5px 5px 0 0;

	box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.34);
	-webkit-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.34);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav nav'
		'l-col r-col'
}

.nav-wrapper {
	grid-area: nav;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--mainColor);
}

#navigation {
	margin: 0;
	padding: 10px;
}

#navigation a {
	color: var(--mainText);
}

#navigation li {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.dots-wrapper {
	display: flex;
	padding: 10px;
}

.browser-dot {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	box-shadow: -1px 1px 3px -1px rgba(0,0,0,1);
}

#dot-red {
	background-color: red;
}

#dot-yel {
	background-color: gold;
}

#dot-gre {
	background-color: green;
}

.left-column {
	grid-area: l-col;
	padding-top: 50px;
	padding-bottom: 50px;
}

#profile_pic {
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	object-fit: cover;
	border: 2px solid var(--borderColor);
}

.theme-options-wrapper {
	display: flex;
	justify-content: center;
}

.theme-dot {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
	border: 2px solid var(--themeDotBorder);
	background-color: black;
	cursor: pointer;
}

.theme-dot:hover {
	border-width: 5px;
}

#light-mode {
	background-color: white;
}

#dark-mode {
	background-color: black;
}

#settings-note {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column {
	grid-area: r-col;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}

#preview {
	width: 300px;
	border: 1.5px solid lightblue;
	background-color: var(--previewBg);
	padding: 15px;
	position: relative;
}

#prev-shadow {
	background-color: var(--previewShadow);
	width: 300px;
	height: 200px;
	padding-left: 30px;
	padding-top: 30px;

}

.corner {
	widtH: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1.6px solid lightblue;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
}

#corner-tr {
	top: -5px;
	right: -5px;
}


#corner-tl {
	top: -5px;
	left: -5px;
}

#corner-br {
	bottom: -5px;
	right: -5px;
}

#corner-bl {
	bottom: -5px;
	left: -5px;
}

.about-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))

	padding-top: 50px;
	padding-bottom: 50px;

}

#skills {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

.social-links {
	display: grid;
	align-items: center;
	justify-content: center;

	padding-top: 30px;
	padding-bottom: 30px;
}

#socials {
	display: flex;
	width: 60%;
	justify-content: space-evenly;
}

.social-links img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.post-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {
	border: 1px solid var(--borderColor);
}

.thumbnail {
	width: 100%;
	height: 180px;
	display: block;
	object-fit: cover;
}

.post-preview {
	background-color: var(--previewBg);
	padding: 15px;
}

.post-title {
	margin: 0;
}

.post-intro {
	color: darkgreen;
	font-size; 16px;
}

#contact-form {
	display; block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--secondaryColor);
	margin-bottom: 50px;
}

#contact-form label {
	line-height: 2.7em;
}

#contact-form textarea {
	min-height: 100px;
	font-size: 14px;
}

.input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	/* background-color: var(--secondaryColor); */
	background-color: white;
	border-radius: 5px;
	border: 1px solid var(--borderColor);
	font-size: 14px;
}

#submit-btn {
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: var(--buttonColor);
	border: none;
}

@media screen and (max-width: 1200px) {
	.main-container {
		width: 95%;
	}
}

@media screen and (max-width: 600px) {
	.intro-wrapper {
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav'
			'l-col'
			'r-col'
			;
	}

	.right-column {
		justify-content: center;
	}
}

